* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(185, 75%, 39%);
  max-width: 1440px;
}

.container {
  display: flex;
  background-color: hsl(185, 32%, 65%);
  height: 50vh;
  width: 50vw;
  justify-content: center;
  /* align-items: center; */
}

.upper {
  background-color: hsl(184, 37%, 17%);
  width: inherit;
  height: 20vh;
  margin: 0;
}

.lower {
  /* width: inherit; */
  height: 30vh;
}
